@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face { 
        font-family: aeonikFont; 
        src: url('/fonts/AeonikTRIAL-Regular.otf') format("opentype")
    } 
    @font-face { 
        font-family: concreteMono; 
        src: url('/fonts/concreteMono.ttf') format("truetype")
    } 
    @font-face { 
        font-family: schabo; 
        src: url('/fonts/SCHABO-Condensed.otf') format("opentype")
    } 
    @font-face { 
        font-family: ptmono; 
        src: url('/fonts/PTMono-Regular.ttf') format("truetype")
    } 
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    html{
        overflow-x: hidden;
    }
    @keyframes move-rtl {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
        
    }
    .marquee{
        animation: move-rtl 6000ms linear infinite;
        white-space: nowrap;
    }
}
