@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face { 
        font-family: aeonikFont; 
        src: url('/fonts/AeonikTRIAL-Regular.otf') format("opentype")
    } 
    @font-face { 
        font-family: concreteMono; 
        src: url('/fonts/concreteMono.ttf') format("truetype")
    } 
    @font-face { 
        font-family: schabo; 
        src: url('/fonts/SCHABO-Condensed.otf') format("opentype")
    } 
}
